[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
ipython = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
nibabel = "*"
python-dotenv = "*"
opencv-python = "*"
tensorflow = "==2.20.0"
tifffile = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
